# Default ignored files
/../../../:THLTW/.idea/shelf/
/../../../:THLTW/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:THLTW/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:THLTW/.idea/dataSources/
/../../../:THLTW/.idea/dataSources.local.xml
